<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wrapper Stats psutil</title>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>Stats with psutil</h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">

                <tr>
                    <th>Retorna Estatísticas da CPU</th>
                </tr>

                <tr>
                    <td>{{logical}}</td>
                </tr>

                <tr>
                    <td>{{physical}}</td>
                </tr>

                <tr>
                    <td>{{boot}}</td>
                </tr>

                <tr>
                    <td>Machine: {{system}}</td>
                </tr>

                <tr>
                    <td>Node K8s or Docker Container: {{node}}</td>
                </tr>
                <tr>
                    <td>Release: {{release}}</td>
                </tr>
             <tr>
                    <td>Version: {{version}}</td>
                </tr>
             <tr>
                    <td>Architecture: {{arch}}</td>
                </tr>
             <tr>
                    <td>Processor: {{processor}}</td>
                </tr>


        </table>
    </div>
  </body>
</html> 
